

.mask{
    background-color: rgba(17, 17, 17, 1000);
    width:100%;
    height:100vh;
    margin: 0 auto;
}

.image{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding:30px;
    filter: drop-shadow(10px 10px 8px rgba(255,0,0,0.2));

    transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

    transition: transform .5s ease 0s;

}

.image:hover {
    transform: perspective(1500px) rotateY(-15deg);

  }


h1{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 72px;
    font-weight: 100px;
    padding:30px;
}

h2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 64px;
    font-weight: 1000px;
    
    background: -webkit-linear-gradient(rgb(255, 0, 0), #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(10px 10px 8px #000000);

}

.buttons{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}



button{
    transition-duration: .7s;
    background-color: rgb(25, 25, 25);

    font-size: 64px;
    border: none;
    border-radius: 2px;

    width:400px;
    margin: 20px;
    height: 100px;
    box-shadow: 3px 5px 15px rgba(240, 0, 0, .5);

    transform:
    perspective(600px)
    rotateX(20deg);

}

.purchase-button{
    background-color: rgb(15, 15, 15);
    border-color: #fff;
    outline: #fff;
    border: 100px;

    font-weight: 500;
    color: -webkit-linear-gradient(rgb(149, 0, 255), rgba(208, 255, 0, 0.194));
}

button:hover{
    background-color: gray;
    background: -webkit-linear-gradient(rgb(62, 62, 62), rgba(117, 14, 14, 0.194));
    cursor:pointer;
    transform: perspective(800px) rotateY(-4deg);
}