@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgb(30, 30, 30), rgb(0, 0, 0) );
}


body::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

h1,a,h2{
  text-decoration: none;
  color: white;
}
